<?php
/**
 * HTML Liaison Report Page
 *
 * @copyright   Copyright (c) 2018 Jaui. 
 * @license     None
 */
?>

<form action="<?php echo Mage::getUrl('liaisonreport/index/savepost');?>" id="reportform" method="post"> 
   
	<label for="ornumber">OR Number: <span class="required">*</span></label>
  	<input name="ornumber" id="ornumber" type="text" class="input-text required-entry">
             
 	<br><br> 

	<label for="firstname">First Name: <span class="required">*</span></label>
  	<input name="firstname" id="firstname" type="text" class="input-text required-entry">
             
 	<br><br> 

	<label for="lastname">Last Name: <span class="required">*</span></label>
  	<input name="lastname" id="lastname" type="text" class="input-text required-entry">
             
 	<br><br> 

	<label for="slab">Slab: <span class="required">*</span></label>
	<select id="sel_slab" name="sel_slab" class="required-entry">
	<option value="">Please Select</option>
	<option value="1">Yes</option>
	<option value="0">No</option>	
	</select> 
             
 	<br><br> 

	<label for="frame">Frame: <span class="required">*</span></label>
	<select id="sel_frame" name="sel_frame" class="required-entry">
	<option value="">Please Select</option>
	<option value="1">Yes</option>
	<option value="0">No</option>	
	</select> 
             
 	<br><br> 

	<label for="roof">Roof: <span class="required">*</span></label>
	<select id="sel_roof" name="sel_roof" class="required-entry">
	<option value="">Please Select</option>
	<option value="1">Yes</option>
	<option value="0">No</option>	
	</select> 
             
 	<br><br> 

	<label for="roughin">Rough-In Date: <span class="required">*</span></label>
	<input name="roughin" id="roughin" type="text" class="input-text required-entry">
 
                                    
 	<br><br> 

	<label for="completiondate">Est. Completion Date: <span class="required">*</span></label>
	<input name="completiondate" id="completiondate" type="text" class="input-text required-entry">
 
                                    
 	<br><br> 

	<label for="outdate">Out Date: <span class="required">*</span></label>
	<input name="outdate" id="outdate" type="text" class="input-text required-entry">

  	<?php // Submit Button ?>
	<input type = "submit" id="btnsubmit" name="btnsubmit">

</form>

<script type="text/javascript">
  var reportform= new VarienForm('reportform', true);
</script>
