<?php
/**
 * HTML Display All Liaison Reports for HNC Magento
 *
 * @copyright   Copyright (c) 2018 Jaui. 
 * @license     None
 */
?>  		
<?php

	/**
	 * Get the resource model
	 */
	$resource = Mage::getSingleton('core/resource');
	$readConnection = $resource->getConnection('core_read');
	$query = 'SELECT * FROM liaison_report';
	
	/**
	 * Execute the query and store the results in $results
	 */
	$results = $readConnection->fetchAll($query);

	//print_r($results)
?>
			 <h3>Liaison Reports</h3>
			 <a href="/liaisonreport/index/index/"><small>Return to the form</small></a>	
			 <br/>				
		      <table>	
		      <tr>
		      	<td width="100"><strong>OR Number</strong></td>
		      	<td width="100"><strong>First Name</strong></td>
		      	<td width="100"><strong>Last Name</strong></td>
		      	<td width="100"><strong>Slab</strong></td>
		      	<td width="100"><strong>Frame</strong></td>	
		      	<td width="100"><strong>Roof</strong></td>
		      	<td width="150"><strong>Rough In</strong></td>			      	
		      	<td width="150"><strong>Completion Date</strong></td>	
		      	<td width="150"><strong>Out Date</strong></td>			      		
		      </tr>
		      		
		     <?php 
		     foreach($results as $report)
		     {
		      echo '<tr>';
		      echo '<td>'. $report[receipt_no] .'</td>';
		      echo '<td>'. $report[customer_firstname] .'</td>';
		      echo '<td>'. $report[customer_lastname] .'</td>';
		      echo '<td>'. $this->assignCaption($report[slab]) .'</td>';
		      echo '<td>'. $this->assignCaption($report[frame]) .'</td>';
		      echo '<td>'. $this->assignCaption($report[roof]) .'</td>';
		      echo '<td>'. $report[rough_in].'</td>';		      
		      echo '<td>'. $report[completion_date].'</td>';
		      echo '<td>'. $report[out_date].'</td>';		      
		      echo '</tr>';
		   	  }

		   	  ?>
		      </table>